@using TechGate.Core.Models
@model ICollection<ProductCardViewModel>
<div class="card-group">

    @foreach (var product in Model)
    {
        <div class="col-md-4">
            <div class="card">
                <img src="@product.ImageUrl" class="card-img-top" alt="@product.Name" style="max-height: 150px; object-fit: contain;">
                <div class="card-body">
                    <h5 class="card-title">@product.Name</h5>
                    <p class="card-text"><small class="text-muted">@product.Price$</small></p>
                    <a href="#" class="btn btn-primary">Details</a>
                </div>
            </div>
        </div>
    }

</div>
